{
  "smtpUser": "youremail@gmail.com",
  "smtpPassword": "yourapppassword",
  "emails": ["theemailwherethealertswillbesent@somewhere.com"],
  "cron": "*/3 * * * *",
  "sites": [
    {
      "site": "https://www.google.com/",
      "emails": ["anotheremail@somewhere.com"]
    },
    {
      "site": "https://github.com/"
    }
  ]
}
